.filter-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.filter-modal_title {
    font-size: 1.75rem;
    margin-bottom: 20px;
    color: #333;
}   

.slider-container {
    width: 100%;
    margin: 20px 0;
}

.slider-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.25rem;
}   

.filter-modal_actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}   

.filter-modal_cancel,
.filter-modal_apply {      
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}       

.filter-modal_cancel {
    background-color: #f0f0f0;
    color: #333;
    width: 40%;
}

.filter-modal_apply {
    background-color: var(--primary-color);
    color: white;
    width: 60%;
    transition: background-color 0.3s;
}

.filter-modal_apply:hover {
    background-color: var(--deep-blue);
}
















   







